<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>IFilmes</title>
</head>
<body>
    <h1>Lista de Filmes</h1>
    <hr>
    {% for filme in filmes %}
    <p>{{filme[0]}}</p>
    <p>{{filme[1]}}</p>
    <p>{{filme[2]}}</p>
    <p>{{filme[3]}}</p>
    <p>{{filme[4]}}</p>
    <p>{{filme[5]}}</p>
    <p>{{filme[6]}}</p>
    {% endfor %}

</body>
</html>