<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IFilmes</title>
    <link rel="icon" type="image/png" href="../static/imagens/md.png">
    <script src="script.js"></script>
    <link rel="stylesheet" href="../static/filme.css">
     
     <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
     <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <div>
        <a href="{{ filme[3] }}" target="_blank">
    <img src="../static/imagens/{{ filme[0] }}" width="455" height="579" />
</a>
        
        <H1>{{filme[1]}} </H1>
        
        <a>{{filme[2] }}</a>
       
        <br>
        <br>
        <a>{{filme[4]}}</a>
        <br>
        <a>{{filme[5]}}</a>
        <br>
        <a>{{filme[6]}}</a>
        <br>
    <div class="sess">
        <a>Sessões</a>
        <br>
    </div>

        <button onclick="mudarVariavel(7)">Segunda-feira</button>
        <button onclick="mudarVariavel(8)">Terça-feira</button>
        <button onclick="mudarVariavel(9)">Quarta-feira</button>
        <button onclick="mudarVariavel(10)">Quinta-feira</button>
        <button onclick="mudarVariavel(11)">Sexta-feira</button>
        <button onclick="mudarVariavel(12)">Sábado</button>

        <script> 
            function mudarVariavel(variavel){
               document.getElementById("meuIframe")  
            }
        </script>
        <br>
        {% for i in filme[x] %}
        <button>{{i}}</button>
        {% endfor %}
    </div>
    <br>
   
    <a href="/" >Voltar</a>

</body>
</html>