<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="../static/imagens/md.png">
  <link 
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" 
    rel="stylesheet"
  />
  <title>IFilmes</title>
</head>
<body>
  <h1>Lista de Filmes</h1>
  <hr>
    <a href="/paginaadiconarfilme"><button> + adicionar filme</button></a>
    <ol>
      {% if filmes %} {% for filme in filmes %}
      <div>
        
        <li>
        <a href="/verFilme?nomeFilme={{filme[1]}}&opcao=1">{{ filme[1] }}</a>
        <a href="/pageditarfilme"><button>Editar</button></a>
        <a href="/excluirfilme"><button>Excluir</button></a>
        </li>
        
        <br>
      </div>
      {% endfor %} {% endif %}
    </ol>
    
  
</body>
</html>